@model appWeb2.Models.VideoJuegos

<h2>Crear Videojuego</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label>Título</label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo"></span>
    </div>

    <div>
        <label>Precio</label>
        <input asp-for="Precio" class="form-control" />
         <div asp-validation-summary="All" class="text-danger"></div>
        <span asp-validation-for="Precio"></span>

    </div>

    <label>Categoría</label>
    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.Categorias">
        <option value="">-- Seleccione una Categoría --</option>
    </select>
    <span asp-validation-for="CategoriaId" class="text-danger"></span>

    <div>
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
     </div>

     <div>
         <label>Imagen</label>
        <input type="file" name="archivoImagen" class="form-control" />
     </div>

    <div>
        <label>Edad mínima</label>
        <input asp-for="EdadMinima" class="form-control" />
        <span asp-validation-for="EdadMinima" class="text-danger"></span>
    </div>

    <div class="form-check mt-2">
        <input asp-for="EnPromocion" class="form-check-input" />
        <label class="form-check-label">En promoción</label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>