@model appWeb2.Models.VideoJuegos

<h2>Editar Videojuego</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Título</label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo"></span>
    </div>
    <div>
        <label>Precio</label>
        <input asp-for="Precio" class="form-control" />
         <div asp-validation-summary="All" class="text-danger"></div>
        <span asp-validation-for="Precio"></span>
    </div>
    <div>
        <label>Categoría</label>
        <input asp-for="Categoria" class="form-control" />
        <span asp-validation-for="Categoria"></span>
    </div>
    <div>
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
     </div>
    <button type="submit" class="btn btn-primary">Actualzar</button>
</form>