@model IEnumerable<appWeb2.Models.VideoJuegos>;
@{
    ViewData["Title"] = "Home Page";
}

<h2>VideoJuegos Disponibles</h2>


<div class="row">
@foreach (var juego in Model)
{
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                    <h5 class="card-title">@juego.Titulo</h5>
                    <p class="card-text">@juego.Descripcion</p>
                    <p><strong>Categoria:</strong> @juego.Precio</p>
            </div>
         </div>
    </div>
}
</div>

